body {
	text-align: center;
	overflow-x: hidden;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.585), black);
	background: black;
	margin: 0;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: rgb(128, 83, 0);
}

::-webkit-scrollbar-thumb {
	background: rgb(60, 0, 255);
	border-radius: 20px;
}


h1 {
	font-size: 88px;
	min-height: 88px;
	box-shadow: 3px 3px 8px green;
	margin: 8px;
	border-radius: 28px;
	box-sizing: border-box;
	padding: 4px;
	text-align: center;
	width: fit-content;
	display: inline-block;
	background: linear-gradient(175deg, rgb(0 255 149), rgb(255 113 0));
	border: 3px groove green;
	color: white;
	text-shadow: 0 0 4px black, 0 0 4px #fe05e1, 0 0 4px #fe05e1;
	transform: skew(-20deg);
	animation: przezroczystosc 12s ease, swiatlo 4s infinite;
	font-family: cursive;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button {
	width: 100%;
	height: 68px;
	font-size: 40px;
	font-weight: 888;
	border-radius: 28px;
	border: 0;
	font-family: fantasy;
	border: 1px groove black;
	color: rgb(0, 54, 251);
	text-shadow: 0 0 4px black;
	box-shadow: 3px 3px 8px rgb(255, 0, 0),
		-3px -3px 8px rgb(255, 0, 0);
}



.pora {
	float: left;
	width: 340px;
	margin: 10px;

	border: 1px groove black;
	border-radius: 28px;
	cursor: pointer;
	animation: pokazporyroku 24s ease, swiatlo 1s infinite;
	position: relative;
	color: rgb(255, 17, 0);
	font-family: fantasy;
	background: linear-gradient(45deg, rgb(74 71 71 / 80%), black);
	padding: 4px;

	box-shadow: 4px 4px 8px rgb(249, 224, 0),
		-4px 4px 8px rgb(249, 224, 0);
	transition: 2s;
}

.jakapora {
	width: 340px;
	margin: 10px;
	border: 1px groove black;
	border-radius: 28px;
	position: relative;
	color: rgb(255, 17, 0);
	font-family: fantasy;
	background: linear-gradient(45deg, rgb(74 71 71 / 80%), black);
	padding: 4px;
	box-shadow: 4px 4px 8px rgb(249, 224, 0),
		-4px 4px 8px rgb(249, 224, 0);
	animation: obrot 3s ease;
}

.jakapora img {
	margin: 28px 10px 28px 10px;
	width: 300px;
	border: 1px solid #c7ff00;
	box-shadow: -2px -2px 8px rgb(43, 1, 255),
		2px 2px 4px rgb(43, 1, 255);
	border-radius: 28px;
	animation: przezroczystosc 10s ease, pora 4s infinite;
}

.pora img {
	margin: 28px 10px 28px 10px;
	width: 300px;
	border: 1px solid #c7ff00;
	box-shadow: -2px -2px 8px rgb(43, 1, 255),
		2px 2px 4px rgb(43, 1, 255);
	border-radius: 28px;
	animation: przezroczystosc 10s ease, pora 4s infinite;
}

@keyframes pora {
	0% {
		transform: rotate(0deg);
	}

	30% {
		transform: rotate(2deg);
	}

	60% {
		transform: rotate(-2deg);
	}
}

.pora:hover {
	transform: rotate(4deg) scale(1.1) !important;
	z-index: 8;
}

@keyframes obrot {
	0% {
		opacity: 0;
		transform: rotate3d(0,1,0, 180deg)
	} 100% {
		opacity: 1;
		transform: rotate3d(0,1,0, 360deg);
	} 
}

.okres {
	width: 95.5%;
	height: 88px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
	padding: 8px;
	border-radius: 28px;
	cursor: pointer;
	border: 1px dotted black;
	position: relative;
	animation: pokazokres 4s ease;
}

@keyframes pokazporyroku {
	0% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

@keyframes przezroczystosc {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes pokazokres {
	0% {
		top: 488px;
	}

	100% {
		top: 0;
	}
}

@keyframes swiatlo {
	0% {
		box-shadow: 0 -8px 8px rgb(37, 249, 0),
			0 8px 8px rgb(8, 249, 0);
	}
}



.calyekran {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.90);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.zamknij {
	width: 184px;
	height: 48px;
	background: red;
	color: white;
	font-size: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 28px;
	position: fixed;
	right: 0;
	top: 0;
	box-shadow: 3px 3px 8px yellow, -3px -3px 8px greenyellow;
}

.zamknij:hover {
	background: white;
	color: red;
	cursor: pointer;
}

@keyframes pokapore {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.strzalka {
	background: blue;
	color: white;
	width: 100px;
	font-size: 48px;
	position: fixed;
	cursor: pointer;
	z-index: 10;
	bottom: 48px;
	box-shadow: 4px 4px 8px white, -4px -4px 8px white;
	border-radius: 28px;
}

.strzalka span {
	position: relative;
}

.strzalka:hover {
	color: blue;
	background: white;
}

@keyframes strzalkap {
	0% {
		left: -28px;
	}

	100% {
		left: 28px;
	}
}

@keyframes strzalkal {
	0% {
		left: 28px;
	}

	100% {
		left: -28px;
	}
}

/* Dominikapitan Łempicki */
